* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
  }

  body {
    font-family: 'Playfair Display SC', serif;
    color: white;
    background-color: #daccbeff;
  }

  a {
    color: black;
    text-decoration: none;
  }
  
  
  .logo {
    width: 100px;
    margin: 10px 0;
    line-height: 1.2;
    border-radius: 15px;
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
  
  
  h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
  }
  
  p {
    font-size: 30px;
  }

  li {
    list-style-type: none;
  }

  p {
    font-size: 20px;
    margin: 10px 0;
  }

  .container .flex {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
  }
  
  .navbar {
    background-color: #650101ff;
    height: 100px;
    padding: 0 30px;
    box-shadow: 7px 7px 7px 3px rgba(0, 0, 0, 0.2)
  }

  .navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a {
    color: white;
    padding: 9px;
    margin: 0 10px;
  }

  .navbar a:hover {
    color: black;
    border-bottom: 3px solid black;
  }

  .showcase {
    height: 400px;
    background-image: url(img/fondodualipa.jpg);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
  }

  .showcase p {
    margin-bottom: 30px;
  }

.showcase-form {
    padding-left: 7px;
  }

  .grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .grid-item-1 {
  position: relative;
  top: 80px;
  left: 80px;
}
  
  .btn {
    text-decoration: none;
    color: white;
    background-color: #650101ff;;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    margin-left: 10px;
    font-family: 'Playfair Display SC', serif;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: background-color .3s;
  }

  .btn:hover{
    background-color: transparent;
    color: #650101ff;

  }

  .showcase-form {
    margin: auto;
  }
  
  .little-info {
    font-size: 15px;
    font-family: 'Playfair Display SC', serif;
  
  }

  .tituloprod{
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
    color: #660000ff;
    
  }

  .section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .section2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .card1{
    background-image: url(img/anillos\ tarjeta.jpg);
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 4px 4px 8px 1px #650101ff ;
    margin: 25px;
}

.card2{
    background-image: url(img/collartarjeta.jpg);
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 4px 4px 8px 1px #650101ff ;
    margin: 25px;
}

.card3{
    background-image: url(img/pulseratarjeta.jpg);
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 4px 4px 8px 1px #650101ff ;
    margin: 25px;
}

.card4{
    background-image: url(img/compartirtarjeta.jpg);
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 4px 4px 8px 1px #650101ff ;
    margin: 25px;
}

.card5{
    background-image: url(img/piercingtarjeta.jpg);
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 4px 4px 8px 1px #650101ff ;
    margin: 25px;
}

.card6{
    background-image: url(img/arostarjeta.jpg);
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 4px 4px 8px 1px #650101ff ;
    margin: 25px;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
    border-radius: 25px;
}

.content h2, a{
    color: rgba(255, 255, 255, .8);
}

.card1:hover .content{
    opacity: 1;
}

.card2:hover .content{
    opacity: 1;
}

.card3:hover .content{
    opacity: 1;
}

.card4:hover .content{
    opacity: 1;
}

.card5:hover .content{
    opacity: 1;
}

.card6:hover .content{
    opacity: 1;
}

  
  
.footer{
    background-color: #650101ff;
    

}

.footer .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.logofooter{
    width: 150px;
    border-radius: 15px;
    margin: 30px 30px;
    box-shadow: 7px 7px 7px 6px rgba(0, 0, 0, 0.2);
}

.box h2{
    font-size: 20px;
    text-shadow: 9px 1px rgba(0, 0, 0, 0.2);
}
.box p{
    font-size: 15px;
}

.box .icons img{
    width: 30px;
    height: 30px;
}
.box .icons2 img{
    width: 30px;
    height: 30px;
}
.box .icons3 img{
    width: 30px;
    height: 30px;
}

.box .redes img{
    width: 50px;
    height: 50px;
    padding: 5px;
}

.icons{
    display: flex;
}
.icons2{
    display: flex;
}
.icons3{
    display: flex;
}

.box .icons p{
  padding-left: 15px;
}
.box .icons2 p{
  padding-left: 15px;
}
.box .icons3 p{
  padding-left: 15px;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .4s;
}

.modal_container{
  margin: auto;
  width: 90%;
  max-width: 900px;
  max-height: 100%;
  background-image: url(img/fondoformulario.jpg);
  border-radius: 8px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal_close{
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1em 1em;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal_close:hover{
  color: white;
  background-color: black;

}










